.training {
    background-color: #f8f9fa;
    padding: 50px 0;
  }
  
  .training h2 {
    color: #007bff; /* Set the heading color */
    font-weight: bold;
    margin-bottom: 40px;
  }
  
  .training h3 {
    color: #333;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .training p {
    color: #555;
    line-height: 1.6;
  }
  
  .training ul {
    padding-left: 20px;
  }
  
  .training ul li {
    color: #555;
    margin-bottom: 10px;
  }
  
  .training .img-fluid {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
  }
  